body
{
  color: white;
  background: linear-gradient(rgb(153, 0, 255), rgb(247, 0, 255)); 
}
span
{
  font-size: 30px;
}
#camera , #Snapshot
{
  border: 2px dashed black;
  width: 400px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

#header{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 5px;
}